<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Autores</title>
    <link rel="stylesheet" th:href="@{/biblioteca.css}">
</head>

<body>
    <header>
        <div class="container">
            <h2>Carga de autor</h2>
        </div>
    </header>
    <main>
        <div class="container">

            <form action="/autor/registro" method="post">

                <div class="form-group">
                    <input type="text" name="nombre" class="form-group" placeholder="Nombre del autor">
                </div>

                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
            <div th:if="${error != null}">
                <p th:text="${error}"></p>
            </div>
            <form action="/" method="get">
                <button class="btn btn-secondary">Volver</button>
            </form>
        </div>
    </main>
</body>

</html>