<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editorial Change</title>
    <link rel="stylesheet" th:href="@{/biblioteca.css}">
</head>

<body>
    <header>
        <div class="container">
            <h2>Modificar editorial</h2>
        </div>
    </header>
    <main>
        <div class="container">

            <form th:action="@{/editorial/modificar/__${editorial.id}__}" method="post">

                <input hidden th:value="${id}" name="id">

                <div class="form-group">
                    <label for="nombre">Cargar editorial</label>
                    <input th:value="${editorial.nombre}" type="text" name="nombre" class="form-group" placeholder="Nombre de la editorial">
                </div>

                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
            <div th:if="${error != null}">
                <p th:text="${error}"></p>
            </div>
            <form action="/editorial/lista" method="get">
                <button class="btn btn-secondary">Volver</button>
            </form>
        </div>
    </main>
</body>

</html>