<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" th:href="@{/biblioteca.css}">
</head>

<body>
    <header class="header">
        <nav>
            <ul>
                <li>
                    <h1>Bliblioteca EGG</h1>
                </li>
                <li>
                    <h1 class="cerrar-sesion">
                        <a th:href="@{/login}">Cerrar Sesión</a>
                    </h1>
                </li>
            </ul>
        </nav>
    </header>
    <div class="navegador">
        <nav>
            <ul>
                <li>
                    <a th:href="@{/}">HOME</a>
                </li>
                <li>
                    <a th:href="@{autor/lista}">Autores</a>
                </li>
                <li>
                    <a th:href="@{editorial/lista}">Editoriales</a>
                </li>
                <li>
                    <a th:href="@{libro/lista}">Libros</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            <ul>
                <li>
                    <form action="/autor/registrar" method="get">
                        <button class="btn btn-secondary">Registro de Autor</button>
                    </form>
                </li>
                <li>
                    <form action="/editorial/registrar" method="get">
                        <button class="btn btn-secondary">Registro de Editorial</button>
                    </form>
                </li>
                <li>
                    <form action="/libro/registrar" method="get">
                        <button class="btn btn-secondary">Registro de Libro</button>
                    </form>
                </li>
            </ul>
            <div th:if="${exito != null}">
                <p th:text="${exito}"></p>
            </div>
        </div>
    </main>
    <footer class="footer">
        <h1>Biblioteca EGG &copy; 2023 - Todos los derechos reservados</h1>
    </footer>
</body>

</html>