<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <header id="header">
        <div>
            <h1>Bliblioteca</h1>
        </div>
    </header>
    <div class="navegador">
        <nav class="navbar navbar-dark">
            <ul>
                <li>
                    <form action="/" method="get">
                        <button class="btn">HOME</button>
                    </form>
                </li>
                <li>
                    <form action="/autor/lista" method="get">
                        <button class="btn">Autores</button>
                    </form>
                </li>
                <li>
                    <form action="/editorial/lista" method="get">
                        <button class="btn">Editoriales</button>
                    </form>
                </li>
                <li>
                    <form action="/libro/lista" method="get">
                        <button class="btn">Libros</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            <form action="/autor/registrar" method="get">
                <button class="btn btn-secondary">Registro de Autor</button>
            </form>
            <form action="/editorial/registrar" method="get">
                <button class="btn btn-secondary">Registro de Editorial</button>
            </form>
            <form action="/libro/registrar" method="get">
                <button class="btn btn-secondary">Registro de Libro</button>
            </form>
            <div th:if="${exito != null}">
                <p th:text="${exito}"></p>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>