<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link rel="stylesheet" th:href="@{/biblioteca.css}">
</head>

<body>
    <header id="header">
        <div>
            <h1>Bliblioteca</h1>
        </div>
    </header>
    <div class="navegador">
        <nav class="navbar navbar-dark">
            <ul>
                <li>
                    <form action="/" method="get">
                        <button class="btn">HOME</button>
                    </form>
                </li>
                <li>
                    <form action="/autor/lista" method="get">
                        <button class="btn">Autores</button>
                    </form>
                </li>
                <li>
                    <form action="/editorial/lista" method="get">
                        <button class="btn">Editoriales</button>
                    </form>
                </li>
                <li>
                    <form action="/libro/lista" method="get">
                        <button class="btn">Libros</button>
                    </form>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        <div class="container">
            <form action="/autor/registrar" method="get">
                <button class="btn btn-secondary">Registro de Autor</button>
            </form>
            <form action="/editorial/registrar" method="get">
                <button class="btn btn-secondary">Registro de Editorial</button>
            </form>
            <form action="/libro/registrar" method="get">
                <button class="btn btn-secondary">Registro de Libro</button>
            </form>
            <div th:if="${exito != null}">
                <p th:text="${exito}"></p>
            </div>
        </div>
    </main>
</body>

</html>