<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Libros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <header>
        <div class="container">
            <h2>Carga de Libro</h2>
        </div>
    </header>
    <main>
        <div class="container">
            <form action="/libro/registro" method="post">

                <div class="form-group">
                    <input type="number" name="isbn" class="form-group" placeholder="ISBN del libro" >
                </div>

                <div class="form-group">
                    <input type="text" name="titulo" class="form-group" placeholder="Título del libro" >
                </div>
                
                <div class="form-group">
                    <input type="number" name="ejemplares" class="form-group" placeholder="Cantidad de ejemplares" >
                </div>

                <div class="form-group">
                    <select name="idAutor">
                        <option>Autor</option>
                        <option th:each="autor : ${autores}" th:value="${autor.id}" th:text="${autor.nombre}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <select name="idEditorial">
                        <option>Editorial</option>
                        <option th:each="editorial : ${editoriales}" th:value="${editorial.id}" th:text="${editorial.nombre}"></option>option>
                    </select>
                </div>
                
                <div th:if="${error != null}"><p th:text="${error}"></p></div>

                <button type="submit" class="btn btn-primary">Subir</button>
            </form>
            <form action="/" method="get">
                <button class="btn btn-secondary">Volver</button>
            </form>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>